<!DOCTYPE html>
<html>
<head>
  <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
</head>
<body>
<h1>Welcome to eShop.com, <%= @user.name %></h1>
<p>
  To confirm your email to the site, just follow this link: <a href="<%= @url %>" _target="_new">Confirm email</a>
</p>
<p>Thanks for joining and have a great day!</p>
</body>
</html>