<div class="row">
  <h2>Manage your products</h2>
  <div class=row">
    <% flash.each do |type, message| %>
      <div class="alert <%= bootstrap_class_for(type) %> fade in">
        <button class="close" data-dismiss="alert">×</button>
        <%= message %>
      </div>
    <% end %>
  </div>
  <ul>
  <%@products.each do |p|%>
   <li><%=p.name%> <%= link_to "Edit", edit_administration_product_path(p)%></li>
  <%end%>
  </ul>
</div>