<div class="container">
<div id='cart'>
  <form method='post' action='/carts/update'>
    <p>You have asked for <span data-bind='text: lineitems().length'>&nbsp;</span> item(s)</p>
    <table data-bind='visible: lineitems().length > 0'>
      <thead>
      <tr>
        <th>Product SKU</th>
        <th>Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Sub Total</th>
        <th />
      </tr>
      </thead>
      <tbody data-bind='foreach: lineitems'>
      <tr>
        <td><span data-bind='text: product_id, uniqueName: true' /></td>
        <td><span data-bind='text: product.name' /></td>
        <td><input class='required number' data-bind='value: quantity,attr: { name: product_id }' required digits='true' size='4'/></td>
        <td><span data-bind='text: formatCurrency(unit_price), uniqueName: true' /></td>
        <td><span data-bind='text: formatCurrency(sub_total)' /></td>
        <td><a href='#' data-bind='click: $root.removeLineItem'>Delete</a></td>
      </tr>
      </tbody>
    </table>
    <p class='grandTotal'>
      Total value: <span data-bind='text: formatCurrency(grandTotal())'> </span>
    </p>
    <button data-bind='enable: lineitems().length > 0' type='submit'>Update</button>
    <td><a href='/newuser' data-bind='enable: lineitems().length > 0'>Proceed to Checkout</a>
  </form>
</div>
</div>