
<script>
    $(document).ready(function () {
    var address  = {
        type: "",
        line_1: "",
        line_2: "",
        town: "",
        postcode: "",
        country: ""
    };

    var phone = {
        type: "",
        number: ""
    };


    var user = <%=@user.to_json.html_safe%>;
    user.addresses = [];
    user.addresses.push(address);
    user.phones = [];
    user.phones.push(phone);
    var viewModel = new UserModel(user);
    ko.applyBindings(viewModel, document.getElementById('registration'));
 });
</script>

<div class=row">
<% flash.each do |type, message| %>
  <div class="alert <%= bootstrap_class_for(type) %> fade in">
    <button class="close" data-dismiss="alert">×</button>
    <%= message %>
  </div>
<% end %>
</div>
<div class="row">
<div id="registration">
  <form method='post' action='/user/address'>
    <button data-bind='click: $root.addPhone,enable: $root.phones().length < 2' class='btn btn-xs btn-success'>Add Phone number</button><br/>
   <table>
    <tbody data-bind="foreach: phones">
    <tr>
      <td>
      <select data-bind='value: type'>
        <option>Home</option>
        <option>Mobile</option>
      </select>
      </td>
      <td>
        <input data-bind='value: number' class="form-control" placeholder="Number" />
      </td>
      <td>
        <button data-bind='enable: $root.phones().length > 1,click: $root.removePhone' class="btn btn-xs btn-danger">Delete Phone</button>
      </td>
    </tr>
    </tbody>
  </table>
    <br/>

    <button data-bind='click: $root.addAddress,enable: $root.addresses().length < 2' class='btn btn-xs btn-success'>Add Address</button>
    <input type="checkbox" data-bind="checked: addressesAreSame, enable: $root.addresses().length > 1" />Billing same as delivery address
    <table>
    <tbody data-bind="foreach: addresses">
    <tr>
      <td>Address Type:</td>
      <td>
        <select data-bind='value: type'>
           <option>Delivery</option>
           <option>Billing</option>
         </select>
      </td>
    <tr>
    <tr>
      <td>Line 1:</td><td><input data-bind='value: line_1'  class="form-control" placeholder="Line 1"/></td>
    </tr>
    <tr>
      <td>Line 2:</td><td><input data-bind='value: line_2'  class="form-control" placeholder="Line 2"/></td>
    </tr>
    <tr>
      <td>Town</td><td><input data-bind='value: town' class="form-control" placeholder="Town"/></td>
    </tr>
    <tr>
      <td>Post Code</td><td><input data-bind='value: postcode' class="form-control" placeholder="Postcode"/></td>
    </tr>
    <tr>
      <td>Country</td><td><input data-bind='value: country' class="form-control" placeholder="Country" /></td>
    </tr>
    <tr>
      <td>&nbsp;</td>
      <td>
        <button data-bind='enable: $root.addresses().length > 1,click: $root.removeAddress' class='btn btn-xs btn-danger'>Delete Address</button>
    </td>
    </tr>
    </tbody>
  </table>
  <button data-bind='click: save' type="submit" class='btn btn-sm btn-success'>Checkout with Pay Pal</button>

  <!--<textarea data-bind='value: lastSavedJson' rows='5' cols='60'> </textarea>-->
  </form>


</div>
</div>