<!DOCTYPE html>
<html>
<head>
  <title>Eshop</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <script type='text/javascript' src='http://cdnjs.cloudflare.com/ajax/libs/knockout/2.3.0/knockout-min.js'></script>
  <script src="http://jquery.bassistance.de/validate/jquery.validate.js"></script>
  <script src="http://jquery.bassistance.de/validate/additional-methods.js"></script>
  <%= csrf_meta_tags %>
</head>
<body>
<div class="container">
  <div class="header">ABC Company LLC.</div>
<%= yield %>
  <div class="footer">Copyright @ 2013</div>
</div>
</body>
</html>
